.navbar-custom{
      background-color: #a1f2ff
}
.navbar-custom .navbar-toggler-icon {
      backgroud-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(181,181,181, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")     
}
body{
      background-color: #A4A5A6; 
    }
    h1, h2, h3, h4, h5, h6, p {
     text-align:center; 
    }
    a{
      color: black;
    }
    a:hover{
      color: yellow;
    }
    img {
     width: 50%;
     height: 50%;
     opacity: 0.5;
    }
    .visible{
      visibility: visible;
    }
    .invisible{
      visibility: hidden; 
    }
    #inline{
      display:inline; 
    }
  #None{
      display:none;   
    }
    #block{
display:block;
    }
